*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.Mybody{
    background-color: pink;
    
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    color: black;

}

.buscador{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 70px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.content2{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    padding: 8px;
    color: white;

}

.articulo1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-around;
    margin-top: 50px;
}

.articulo2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-around;
    margin-top: 50px;
}



.h3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin-top: 80px;

}

.foto{
    size-adjust: 5px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.nombreartista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
}

.mybody{
    background-color: pink;
}
/*.h1{
    color: white;
} */
.caja1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.article1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
   border: 20px;
   padding: 30px;


}

.imgcanciones{
    
    width: 200px;
    height: 190px;
    border-color: black;
    border-width: 10px; border-style: solid;
  
    }
    .h1-titulo{
        color: black;
        text-align: center;
    }

    .nombreplaylisyt{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .divplaylist{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .divplaylist2{
        margin-left: 10px;
    }
    .ulplaylist{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sectionplaylist{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
         
    }