*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.Mybody{
    background-color: pink;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    color: black;

}

.buscador{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 70px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.content2{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    padding: 8px;
    color: white;

}

.article1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
.h3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;

}

.mybody{
    background-color: black;
}
.h1{
    color: white;
}
.caja1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.article1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
   border: 20px;
   padding: 30px;


}

.imgcanciones{
    
    width: 200px;
    height: 190px;
    border-color: pink;
    border-width: 10px; border-style: solid;
  
    }
    .h1-titulo{
        color: white;
        text-align: center;
    }